[submodule "unifi-mono"]
	path = unifi-mono
	url = https://github.com/PufferFinance/unifi-mono.git
	branch = unifi-runner
[submodule "unifi-geth"]
	path = unifi-geth
	url = https://github.com/PufferFinance/unifi-geth.git
	branch = unifi-runner
